{% extends "sports/all-judge-base.html" %} {% load staticfiles %} {% block css %}
<link href="{% static 'sports/css/judge-score.css' %}" rel="stylesheet" type="text/css" /> {% endblock css %} {% block content %} {% block js %}
<script src="{% static 'sports/js/all-judge-score.js' %}"></script>
{% endblock js %}
<ul class="breadcrumb">
  <li class="active">运动会裁判打分</li>
</ul>
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label for="select-sex" class="col-sm-3 control-label">项目性别</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control" id="select-sex">
            <option></option>
            <option value="1">男</option>
            <option value="2">女</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group row">
        <label for="select-age" class="col-sm-3 control-label">项目年龄组</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control" id="select-age">
            <option></option>
            <option value="1">7-8</option>
            <option value="2">9-10</option>
            <option value="3">11-12</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6" id="project-male" style="display:none">
      <div class="form-group row">
        <label for="select-project-male" class="col-sm-3 control-label">选择项目</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control" id="select-project-male">
            <option></option>
            <option value="1">单杠</option>
            <option value="2">双杠</option>
            <option value="3">吊环</option>
            <option value="4">跳马</option>
            <option value="5">自由体操</option>
            <option value="6">鞍马</option>
            <option value="7">蹦床</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6" id="project-female" style="display:none">
      <div class="form-group row">
        <label for="select-project-female" class="col-sm-3 control-label">选择项目</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control" id="select-project-female">
            <option></option>
            <option value="4">跳马</option>
            <option value="8">高低杠</option>
            <option value="9">平衡木</option>
            <option value="5">自由体操</option>
            <option value="7">蹦床</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6" id="project-group" style="display:none">
      <div class="form-group row">
        <label for="select-project-female" class="col-sm-3 control-label">选择组别</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control" id="select-group">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="search"> 搜索 </button>
    </div>
    <div class="col-sm-12 line mt-1"></div>
    <div class="form" style="display:none">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="table-hover"></div>
        <table class="table table-hover table-bordered">
          <thead class="form-list2">
            <tr>
              <th>小组编号</th>
              <th>运动员姓名</th>
              <th>运动员代表队</th>
              <th>运动员成绩</th>
            </tr>
          </thead>
          <tbody class="form-list">
            <tr>
              <th>1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>
                <input type="text" class="form-control" id="athlete-grade1">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="submit" style="display:none"> 确认并提交打分成绩 </button>
  </div>
</div>
{% endblock content %}

