   <div class="col-sm-6">
      <div class="form-group row">
        <label for="athlete-name{{number}}" class="col-sm-3 control-label">运动员姓名</label>
        <div class="col-sm-9 sandbox-container">
          <input type="text" class="form-control" id="athlete-name{{number}}">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group row">
        <label for="athlete-id{{number}}" class="col-sm-3 control-label">运动员身份证</label>
        <div class="col-sm-9 sandbox-container">
          <input type="text" class="form-control" id="athlete-id{{number}}">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group row">
        <label for="select-sex{{number}}" class="col-sm-3 control-label">运动员性别</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control select-sex" id="select-sex{{number}}">
            <option></option>
            <option value="1">男</option>
            <option value="2">女</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group row">
        <label for="select-age{{number}}" class="col-sm-3 control-label">运动员年龄</label>
        <div class="col-sm-9 sandbox-container">
          <select class="form-control" id="select-age{{number}}">
            <option></option>
            <option value="1">7-8</option>
            <option value="2">9-10</option>
            <option value="3">11-12</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-12" id="athlete-project-man{{number}}" style="display:none">
      <div class="form-group row">
        <label for="select-project-man{{number}}" class="col-sm-2 control-label">参与的比赛项目</label>
        <div class="col-sm-9 sandbox-container" id="select-project-man{{number}}">
          <label class="checkbox-inline">
            <input type="checkbox" value="1"> 单杠
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="2"> 双杠
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="3"> 吊环
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="4"> 跳马
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="5"> 自由体操
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="6"> 鞍马
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="7"> 蹦床
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-12" id="athlete-project-woman{{number}}" style="display:none">
      <div class="form-group row">
        <label for="select-project-woman{{number}}" class="col-sm-2 control-label">参与的比赛项目</label>
        <div class="col-sm-9 sandbox-container select-project-woman" id="select-project-woman{{number}}">
          <label class="checkbox-inline">
            <input type="checkbox" value="1"> 跳马
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="2"> 高低杠
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="3"> 平衡木
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="4"> 自由体操
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="5"> 蹦床
          </label>
        </div>
      </div>