
<li>
  <a href="{% url 'sports:group_register' %}">报名运动会</a>
</li>
<!--
<li>
  <a href="message.html">Message库</a>
</li>
<li>
  <a href="ui.html">UI库</a>
</li>
<li>
  <a href="animate.html">Animate库</a>
</li>
<li>
  <a href="carousel.html">Carousel库</a>
</li>
<li>
  <a href="chart.html">Chart库</a>
</li>
<li class="has-sub">
  <a href="javascript:void(0);">
    <span>导航选中演示</span>
    <i class="fa fa-caret-right fa-fw pull-right"></i>
  </a>
  <ul class="sub-menu">
    <li>
      <a href="left1.html">
        <i class="fa fa-circle-o fa-fw"></i>&nbsp;left1</a>
    </li>
    <li>
      <a href="left2.html">
        <i class="fa fa-circle-o fa-fw"></i>&nbsp;left2</a>
    </li>
    <li>
      <a href="left3.html">
        <i class="fa fa-circle-o fa-fw"></i>&nbsp;left3及子页面</a>
    </li>
  </ul>
</li>
-->