<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href= "{% static 'sports/css/index.css' %}" />
</head>
<body>
  {% include "sports/head.html" %}
  {% if athletes %}
  <ul>
      {% for athlete in athletes %}
        <li><a href = "{% url 'sports:detail' athlete.athlete_id %}">{{athlete.athlete_name}}</a></li>
      {% endfor %}
  </ul>
  {% else %}
    <p> No athlete exists.</p>
  {% endif %}
  <input class="name" type="text" val="12312" />
  <button class="submit_ajax"> </button>
  <div class = "k1">

  </div>
 
</body>
  <script src=  "{% static 'sports/js/jquery-3.3.1.min.js' %}"></script>
  <script>
    $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
  </script>
  <script src=  "{% static 'sports/js/index.js' %}"></script>
</html>